//Define: Colors
$colorBackgroundDark: #272727;
$colorBackgroundAba: #cce2e2;
$colorBackgroundTona: #e2cecc;
$colorBackgroundKamoras: #e2d7cc;
$colorAba: #0a777a;
$colorTona: #d76560;
$colorKamoras: #f2c971;
$colorAbaLight: #149fa7;
$colorTonaLight: #D76560;
$colorKamorasLight: #f2c971;
$colorTitleDark: #1f1f1f;
$colorTextDark: #1f1f1f;
$colorTitleLight: #ffffff;
$colorTextLight: #d6d6d6;
$colorBrown: #502c0c;
$colorOrange: #f48709;
//Define: Screen sizes
$laptopLScreen: 1440px;
$laptopMScreen: 1366px;
$laptopScreen: 1024px;
$tabletScreen: 768px;
$mobileLScreen: 425px;
$mobileMScreen: 375px;
$mobileSScreen: 320px;