@import "../../utilities/variables.scss";

.backgrounded {
  .logo-container {
    width: 100%;
    img{
      height: 140px;
    }
  }
}

.product-landing-container {
  width: 100vw;
  height: 100vh;
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }
  p,
  label,
  span {
    color: $colorBrown;
  }

  h1 {
    font-size: 64px;
  }

  p {
    margin-bottom: 32px;
  }

  .rigth-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 40vw;
    height: 100%;
    background: red;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .left-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    h1 {
      width: 100%;
    }
  }

  .actions {
    width: 100%;
    margin-top: 32px;
  }
}

//Media queries implementation for each screen defined on the variables cases
@media (max-width: $laptopScreen) {
}

@media (max-width: $mobileLScreen) {
}
